services:
{% for instance in pihole_instances %}
  {{ instance.name }}:
    container_name: {{ instance.name }}
    image: docker.io/pihole/pihole
    hostname: {{ instance.hostname }}
{% if pihole_network_type == 'macvlan' %}
    networks:
      {{ instance.network }}:
        ipv4_address: {{ instance.ip }}
    dns:
      - {{ instance.upstream }}
{% else %}
    ports:
      - "{{ instance.ip }}:53:53/udp"
      - "{{ instance.ip }}:53:53/tcp"
      - "{{ instance.ip }}:80:80/tcp"
      - "{{ instance.ip }}:443:443/tcp"
    dns:
      - {{ instance.upstream }}
{% endif %}
    environment:
      TZ: '{{ pihole_tz }}'
      FTLCONF_webserver_domain: '{{ instance.domain }}'
      FTLCONF_dns_upstreams: '{{ instance.upstream }}'
      FTLCONF_LOCAL_IPV4: '{{ instance.ip }}'
{% if pihole_network_type == 'bridge' %}
      FTLCONF_dns_listeningMode: 'all'
{% endif %}
    volumes:
{% if pihole_tls_enabled | default(true) %}
      - '{{ pihole_cert_dest }}:/etc/pihole/tls.pem'
{% endif %}
      - '{{ instance.name }}-etc:/etc/pihole'
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "dig", "@127.0.0.1", "google.com", "+short", "+time=3", "+tries=1"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 15s

{% endfor %}
{% if pihole_network_type == 'bridge' %}
  pihole-exporter:
    container_name: pihole-exporter
    image: docker.io/ekofr/pihole-exporter
    ports:
      - "{{ pihole_instances[0].ip }}:9617:9617"
    environment:
      PIHOLE_HOSTNAME: '{{ pihole_instances[0].name }}'
      PIHOLE_PASSWORD: '{{ pihole_password }}'
      PIHOLE_PORT: '80'
      PORT: '9617'
    restart: unless-stopped

{% endif %}
volumes:
{% for instance in pihole_instances %}
  {{ instance.name }}-etc:
    name: {{ instance.name }}-etc
{% endfor %}

{% if pihole_network_type == 'macvlan' %}
networks:
{% for network in pihole_instances | map(attribute='network') | unique %}
  {{ network }}:
    external: true
{% endfor %}
{% endif %}
