server:
	interface: 0.0.0.0
	port: 53

{% for ac in unbound_access_control %}
	access-control: {{ ac.subnet }} {{ ac.action }}
{% endfor %}

{% for view in unbound_views %}
{% for client in view.clients %}
	access-control-view: {{ client }} {{ view.name }}
{% endfor %}
{% endfor %}

	root-hints: "/etc/unbound/root.hints"
	use-syslog: no
	hide-identity: yes
	hide-version: yes


{% for view in unbound_views %}
view:
	name: "{{ view.name }}"
	local-zone: "{{ unbound_local_zone }}." static
{% for record in view.records %}
	local-data: "{{ record.name }}.{{ unbound_local_zone }}. IN A {{ record.ip }}"
	local-data-ptr: "{{ record.ip }} {{ record.name }}.{{ unbound_local_zone }}"
{% endfor %}

{% endfor %}
